:root{
    --input-container-color: rgba(45, 45, 45, 1) !important;
    --searchline-focused-color: rgba(127, 112, 214, 0.979) !important;
    --input-bg-color: rgba(45, 45, 45, 1) !important;
    --input-text-color: white;
    --input-clear-bg-color: azure !important;
}

.search_container{
    position: relative;
    display: flex;
    margin-left: 10px;
    padding: 0;
}

.search_input{
    display: flex;
    height: 38px;
    width: 0px;
    flex: 1;
    padding: 0 50px 0px 35px;
    outline: none;
    border: 2px solid transparent;
    border-radius: 1.375rem;
    background-color: rgba(45, 45, 45, 1) !important;
    color: var(--input-text-color);
    font-size: 16px;
}

.search_input:focus{
    background-color: transparent !important;
    border: 2px solid rgba(127, 112, 214, 0.979) !important;
}

.search_img{
    position: absolute;
    align-self: center;
    margin-left: 15px;
    width: 15px;
    height: 15px; 
}

.search_clear_container{
    position: absolute;
    display: flex;
    right: 4px;
    top: 4px;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px; 
    border-radius: 1.375rem;
    background: none;
    border: none;
}

.search_clear_container:hover{
    background-color: rgba(60, 60, 60, 1) !important;
}

.search_clear_img{
    width: 12px;
    height: 12px;
}
