:root{
    --channel-text-color: white;
    --channel-hover-bg-color: rgba( 200, 200, 200, 0.05);
    --channel-selected-bg-color: rgba(127, 112, 214, 0.979) !important;
    --channel-selected-unread-bg-color: rgba(152, 141, 215, 0.979) !important;
    --channel-selected-bg-color: rgba(127, 112, 214, 0.979) !important;
    --channel-body-bg-color: rgb(175, 175, 175) !important;
    --online-icon-default-bg-color: rgba(30, 30, 30, 1) !important;
}

.channel {
    color: var(--channel-text-color);
    display: grid;
    grid-template-columns: 55px 1fr;
    align-items: center;
    height: 72px;
    border-radius: 12px;
    padding: 0px 0px 0px 10px;
    margin: 0px 1px 0px 9px;
}

.channel:hover {
    background-color: var(--channel-hover-bg-color);
    cursor: pointer;
}

.channelSelected {
    display: grid;
    grid-template-columns: 55px 1fr;
    align-items: center;
    min-height: 72px;
    border-radius: 12px;
    padding: 0px 0px 0px 10px;
    margin: 0px 1px 0px 9px;
    background-color: var(--channel-selected-bg-color);
}

.channelSelected .channel_body_content, .channelSelected .channel_message_date{
    color: var(--channel-text-color) !important;
}

.channelSelected .channel_body_unread_count{
    background-color: var(--channel-selected-unread-bg-color);
}

.channelImg {
    position: relative;
    /* background-color: aqua; */
}

.channelSelected .online_icon{
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 0;
    right: 0;
    margin-right: 1.5px;
    margin-bottom: 1.5px;
    border-radius: 50%;
    border: 2px solid var(--channel-selected-bg-color);
    background-color: aliceblue;
}

.channel .online_icon{
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 0;
    right: 0;
    margin-right: 1.5px;
    margin-bottom: 1.5px;
    border-radius: 50%;
    border: 2px solid var(--online-icon-default-bg-color);
    background-color: green;
}

.channelImg img {
    display: flex;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    
}

.channelContent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25px 25px;
    padding: 0px 10px 0px 10px;
}

.channelHeader {
    display: grid;
    grid-template-columns: auto 1fr;
    overflow: hidden;
}

.channel_name{
    color: var(--channel-text-color) !important;
    font-weight: 600;
    padding-right: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.channel_message_date{
    display: flex;
    padding-bottom: 5px;
    align-items: center;
    color: var(--channel-body-bg-color);
    font-size: 12px;
    display: flex;
    justify-self: end;
}

.channelBody {
    display: grid;
    grid-template-columns: auto 1fr;
    overflow: hidden;
}

.channel_body_content{
    color: var(--channel-body-bg-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 5px;
}

.channel_body_unread_count{
    align-content: center;
    display: flex;
    justify-self: end;
    background-color: rgb(141, 141, 141);
    border-radius: 50px;
    padding: 0px 9px 0px 8px;
}
