.image_button{
    transition: .1s ease-out;
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    /* margin-left: 10px; */
    border-radius: 50%;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.img{
    transition: .1s ease-out;
    filter: brightness(50%);
    width: 16px;
    height: 16px;
}

.image_button:hover{
    background-color: rgba(225, 225, 225, 0.1);
}

.image_button:hover .img{
    filter: brightness(120%);
}
