.inputContainer { 
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 5px 0px 15px 0px;
}   

.inputBox {
    display: flex;
    background-color: rgb(59, 59, 59); 
    border-radius: 15px;
    padding-bottom: 10px;
    width: calc(100% - 50vw + 150px);
}

.sendMessageButton {
    width: 45px;
    height: 45px;
    
    margin-left: 5px;
    border-radius: 50px;
    background-color: rgb(59, 59, 59);                     
    
}

@media(max-width: 1000px){
    .inputBox{
        width: calc(100% - 45vw + 150px);
    }
}