:root{
    /* --border-color: rgb(255, 0, 0); */
    --border-color: rgb(50, 50, 50);
}

.leftPane {
    position: relative;
    display: grid;
    flex: 1;
    grid-template-columns: 1fr;
    grid-template-rows: 3.5rem 1fr;
    user-select: none;
    border-right: 0.25px solid var(--border-color);
    overflow: hidden;
}

@media (max-width: 600px)
{
    .leftPane{
        max-width: 0px;
    }
}