:root{
    --body-text-color: #dcdcdc;
    --body-scrollbar-thumb-color: rgba( 200, 200, 200, 0.1) !important;
    --left-body-bg-color: rgba(30, 30, 30, 1) !important;
}

.body {
    color: var(--body-text-color);
    background-color: var(--left-body-bg-color);
    height: 100%;
}

.bodyMain {
    display: flex;
    height: calc(100vh - 3.5rem);
    flex: 1;
}   
