:root{
    --body-text-color: #dcdcdc;
    --body-scrollbar-thumb-color: rgba( 200, 200, 200, 0.1) !important;
}

.body {
    position: relative;
    height: 100%;
    display: flex;
    color: var(--body-text-color);
}

.bodyMain {
    display: flex;
    position: relative;
    margin-bottom: 95px;
}   

.bodyMain::-webkit-scrollbar{
    width: 6px;
}

.bodyMain::-webkit-scrollbar-thumb{
    background-color: transparent;
    border-radius: 4px;
}

.bodyMain:hover::-webkit-scrollbar{
    width: 6px;
}

.bodyMain:hover::-webkit-scrollbar-thumb{
    background-color: var(--body-scrollbar-thumb-color);
    border-radius: 4px;
}