:root{
    /* --border-color: rgb(255, 0, 0); */
    --border-color: rgb(50, 50, 50);
    --left-body-bg-color: rgba(30, 30, 30, 1) !important;
}

.leftPane {
    min-width: 230px;
    display: none;
    position: relative;
    user-select: none;
    background-color: var(--left-body-bg-color);
    border-right: 0.25px solid var(--border-color);
    overflow: hidden;
}

.channels{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3.5rem 1fr;
}

.channels_create{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3.5rem 1fr;
}


@media (min-width: 768px)
{   
    .leftPane{
        display: block !important;
    }
}

@media (max-width: 600px)
{   
    .leftPane{
        display: none;
        max-width: 100vw;
        width: 100vw;
    }
}