:root{
    --main-bg-color: rgb(15, 15, 15);
}

.main{
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: row;
    background-color: var(--main-bg-color);
    background-size: 510px auto;
    overflow: hidden;
}
