:root{
    --searchline-focused-color: rgba(127, 112, 214, 0.979) !important;
    --searchline-default-color: rgba(201, 201, 201, 0.35) !important;
    --searchline-hover-color: rgba(148, 138, 206, 0.6) !important;
    --message-text-color: rgba(255, 255, 255, 0.9);
    --message-bg-from-color: rgb(45, 45, 45) !important;
    --message-bg-self-color:  rgba(127, 112, 214, 0.979) !important;
    --message-time-text-color: rgb(120, 120, 120) !important;
    --message-time-text-self-color: rgb(200, 200, 200) !important;
    --message-string-bg-selected-color: rgba(0, 0, 0, 0.6);
}

.message_string{
    width: 100%;
    display: flex;
}

.message_string_selected{
    transition: .2s ease;
    display: flex;
    backdrop-filter: blur(0.5px);
    background-color: var(--message-string-bg-selected-color);
}

.message_string_self{
    width: 100%;
    display: flex;
    justify-content: right;
}

.message_string_self_selected{
    transition: .2s ease;
    display: flex;
    justify-content: right;
    backdrop-filter: blur(0.5px);
    background-color: var(--message-string-bg-selected-color);
}

.message_block{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 448px;
    background-color: var(--message-bg-from-color);
    margin: 3px calc(50px + 18%) 2px calc(22%);
    border-radius: 0.375rem 0.9375rem 0.9375rem 0.375rem;
}

.message_content{
    display: flex;
    display: block;
    word-wrap: break-word;
    white-space: pre-wrap;
    color: var(--message-text-color);
    font-size: 16px;
    font-weight: 500;
    max-width: 448px;
    margin: 3px 5px 3px 5px;
}

.send_time{
    display: flex;
    font-size: 13px;
    float: right;
    position: relative;
    padding: 7px 10px 0px 10px;
    color: var(--message-time-text-color)
}

.read_status {
    margin-left: 2px;
    width: 15px;
    height: 15px;
}

.message_string_self .message_block, .message_string_self_selected .message_block{
    display: flex;
    background-color: var(--message-bg-self-color);
    border-radius: 0.9375rem 0.375rem 0.375rem 0.9375rem;
    
}

.message_string_self .send_time, .message_string_self_selected .send_time{
    color: var(--message-time-text-self-color)
}

@media (max-width: 1280px)
{
    .message_block{
        margin: 3px calc(10%) 2px calc(10%);
    }
}

@media (max-width: 700px){
    .message_block{
        margin: 7.5px calc(4%) 15px calc(4%);
    }
}