:root{
    --bg-color: rgba(30, 30, 32, 0.95);
}

.middlePane {
    position: relative;
    display: flex;
    flex-direction: column;
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3.5rem 1fr;
    height: 100vh;
    max-height: 100vh;
    flex: 1; */
}