:root{
    --middle-body-bg-color: rgba( 200, 200, 200, 0.3) !important;
}

.body {
    /* background-color: rgba( 200, 200, 200, 0.4); */
    position: relative;
    height: 100%;
    max-height: calc(100vh - 3.5rem);
}

.re_bar {
    position: absolute;
    width: calc(.2% + 2px);
    height: 100%;
}

.transition {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.messages_transition {
    flex: 1;
    overflow-y: auto;
    max-height: calc(100vh - 3.5rem);
}

.messages_transition::-webkit-scrollbar {
    width: 6px;
}

.messages_transition::-webkit-scrollbar-thumb{
    background-color: var(--middle-body-bg-color);
    border-radius: 4px;
}