:root{
    --middle-body-bg-color: rgba( 200, 200, 200, 0.3) !important;
}

.body {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: calc(.2% + 2px) 1fr;
    width: 100%;
}

.body_transition {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    height: calc(100vh - 3.5rem);
} 

.bodyMain {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    overflow-x: hidden;
}

.bodyMain::-webkit-scrollbar {
    width: 6px;
}

.bodyMain::-webkit-scrollbar-thumb{
    background-color: var(--middle-body-bg-color);
    border-radius: 4px;
}