.resize_bar{
    /* position: fixed; */
    /* background-color: aqua; */
    /* position: absolute; */
    /* width: calc(.2% + 2px);  */
    height: 100dvh;
    width: 100%;
}

.resize_bar:hover{
    /* border-left: 1px solid grey; */
    cursor: w-resize;
}