:root{
    --spinner-color: rgba(127, 112, 214, 0.979) !important;
}

.spinner {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-left-color: var(--spinner-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}