:root{
    /* --border-color: rgb(255, 0, 0); */
    --border-color: rgb(60, 60, 60);
}

.leftPane {
    user-select: none;
    border-right: 0.25px solid var(--border-color);
    display: flex;
    flex-direction: column;
}