:root{
    --left-head-bg-color: rgba(30, 30, 32, 0.25);
    --left-head-box-shadow: rgb(20, 20, 20);
    --left-head-text-color: gainsboro;
}

.header {
    min-height: 94px;  

    color: var(--left-head-text-color);
    background-color: var(--left-head-bg-color);
    box-shadow: -1px 1.4px 3px var(--left-head-box-shadow);
}

.headerTop {
    display: flex;
    font-size: 12pt;
    padding: 5px 0px 0px 5px; 
}

.headerTopMenu {
    margin-top: 4px;
}